{% extends "layout.html" %} {% block content %}
<div class="description-container">
  <h1 class="description-text">ABOUT</h1>
  <hr class="description-line" />
</div>

<article class="about-madness">
  <p>
    Now, you might be wondering what exactly is <em>madness bracket</em> anyway?
  </p>
  <br />
  <p>
    Thanks to
    <i
      ><abbr title="Christian Genius Billionaire Kanye West">Kanye</abbr>
      Madness Bracket</i
    >
    (as per Carrington Harrison's
    <a href="https://twitter.com/cdotharrison/status/972880654277992450?lang=en"
      >tweet</a
    >
    that went viral within the music community) we now have this wondrous
    concept. Many have struggled to wrap their heads around what Kanye's banger
    should take the crown.
  </p>
  <br />
  <p>
    I decided to make the <i>madness</i> truly dynamic. It's not
    <i>just Kanye</i> Madness Bracket anymore!
  </p>
  <p>
    🎤Kendrick? 👩‍🎤Adele? 👨‍🎤Bowie? Well, there you have it —
    <a href="/home">madnessbracket.fm.</a>
  </p>
  <br />
  <p>P.S. ❤️ The MetaBrainz Foundation, Last.fm, Discogs, and Spotify.</p>
  <hr />
  <p>
    If you like what you see, consider supporting it!
    <a href="https://www.buymeacoffee.com/seismo" class="support-me-link"
      >Buy me a 🍵.</a
    >
  </p>
</article>
{% endblock content %} {% block scripts %} <% for (var chunk in
htmlWebpackPlugin.files.js) { %>
<script
  type="module"
  src="{{ url_for('static', filename='<%= htmlWebpackPlugin.files.js[chunk]%>') }}"
></script>
<% } %> {% endblock scripts %}
