.tournament-bracket {
  @include flexContainer(row, center);
}
.round {
  @include flexContainer(column, space-around);
  flex: 1 auto;
  height: 100%;
  min-height: 100%;
  padding-bottom: 2em;
  transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
}

.round-left {
  margin-right: calc(3rem - 2px);
}
.round-right {
  margin-left: calc(3rem - 2px);
}

.final-round {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-width: 250px;
}

.finalists {
  @include flexContainer(row, center);
  width: 100%;
}

.winner-container {
  @include flexContainer(row, center);
  width: 100%;
}

.center {
  @include flexContainer(row, center);
  /* height: 3%; */
  color: $whitishColor;
  /* text-align: inherit; */
  font-size: 2rem;
  /* justify-content: center; */
  /* flex-direction: column; */
  text-align: center;
  white-space: break-spaces;
}

@media screen and (max-width: 1900px) {
}

@media screen and (max-width: 1470px) {
  .final-round {
    max-width: 18rem;
  }
}

@media screen and (max-width: 1380px) {
  .round-left {
    margin-right: calc(2rem - 2px);
  }
  .round-right {
    margin-left: calc(2rem - 2px);
  }
}

@media screen and (max-width: 910px) {
  .tournament-bracket {
    width: 100%;
  }
  .final-round {
    max-width: none;
    width: 100vw;
  }
}
