.cell {
  @include flexContainer(row, space-between);
  @include bluishShadow();
  border: 1px solid $whitishColor;
  position: relative;
  width: auto;
  transition: width 0.2s ease-in-out;
  white-space: nowrap;
  margin: 3% 0;
  background: $greenishColor;
  padding: 0.5rem;
  color: $whitishColor;
  width: 12rem;
  min-height: 3rem;
  &::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 50%;
    width: 1.5rem;
    height: 2px;
  }
  &::after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: calc(50% + 1.5rem);
    width: 2px;
    top: 50%;
  }
  &.cell-left::after,
  &.cell-left::before {
    right: calc(-1.5rem - 1px);
  }
  &.cell-right::after,
  &.cell-right::before {
    left: calc(-1.5rem - 1px);
  }

  &:nth-last-of-type(even)::after {
    top: 50%;
  }
  &:nth-last-of-type(odd)::after {
    bottom: 50%;
    top: auto;
  }
  &:not(.cell_empty):hover {
    cursor: pointer;
    color: white;
    transition: all 0.2s ease-out;
  }
  &.cell-left:not(.cell_empty):hover {
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
      rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
      rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  }
  &.cell-right:not(.cell_empty):hover {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
      rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
      rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }
  .song-title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.round.left-1,
.round.right-1 {
  .cell {
    &::after {
      height: calc(50% + 3rem);
    }
  }
}

.round.left-2,
.round.right-2 {
  .cell {
    &::after {
      height: calc(50% + 6rem);
    }
  }
}

.cell-not-first .song-title {
  &::before {
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 50%;
    width: 1.5rem;
    height: 2px;
  }
}

.cell-not-first.cell-right {
  .song-title {
    &::before {
      right: -1.5rem;
    }
  }
}
.cell-not-first.cell-left {
  .song-title {
    &::before {
      left: -1.5rem;
    }
  }
}

.final-cell::after,
.winner-cell::before,
.right-final-cell::before {
  content: none;
}

.cell_empty {
  background: none !important;
  background-color: $backgroundColor !important;
  color: $backgroundColor !important;
}

.cell_loser {
  box-shadow: none;
}

.cell_head {
  box-shadow: $reddishColor 0px 20px 30px -10px;
}

.final-cell {
  margin: 8% 0;
}
.left-final-cell {
  margin-right: 1rem;
}

.winner-cell {
  margin: 0 10px 0 40px;
}
.play-button {
  display: flex;
  background: none;
  padding: 0;
  margin: 0;
  color: green;
}
.play-icon {
  width: 1.5rem;
}
.play-icon_playing {
  color: wheat;
  filter: drop-shadow(0 4px 4px rgba(232, 24, 24, 0.15))
    drop-shadow(0 8px 8px rgba(203, 244, 53, 0.74));
}
.play-icon_standby {
  color: #d2f4be;
  filter: drop-shadow(0 4px 4px rgba(65, 157, 71, 0.08))
    drop-shadow(0 8px 8px rgba(207, 238, 93, 0.49));
}

@media screen and (max-width: 1900px) {
  .cell {
    width: 11rem;
  }
}

@media screen and (max-width: 1700px) {
  .cell {
    width: 10rem;
  }
}

@media screen and (max-width: 1580px) {
  .cell {
    width: 9rem;
  }
  .final-cell {
    flex-grow: 1;
    max-width: 50%;
  }
}

@media screen and (max-width: 1470px) {
  .cell {
    width: 8.5rem;
    padding: 0.25rem 0.5rem;
  }
  .play-icon {
    width: 1.25rem;
  }
  .song-title {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1380px) {
  .cell {
    &.cell-left::after,
    &.cell-left::before {
      right: calc(-1rem - 1px);
    }
    &.cell-right::after,
    &.cell-right::before {
      left: calc(-1rem - 1px);
    }
    &::before {
      width: 1rem;
    }
  }
  .cell-not-first .song-title {
    &::before {
      width: 1rem;
    }
  }
  .cell-not-first.cell-right {
    .song-title {
      &::before {
        right: -1rem;
      }
    }
  }
  .cell-not-first.cell-left {
    .song-title {
      &::before {
        left: -1rem;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .cell {
    width: 8rem;
    min-height: 2.5rem;
  }
}

@media screen and (max-width: 1220px) {
  .cell {
    width: 7rem;
  }
}

@media screen and (max-width: 1100px) {
  .cell {
    width: 6rem;
  }
}

@media screen and (max-width: 1006px) {
  .cell {
    width: 5rem;
    padding: 0.125rem 0.25rem;
  }
  .play-icon {
    width: 1rem;
  }
}

// --slider--
@media screen and (max-width: 910px) {
  .cell {
    width: calc(50vw - 2.5rem);
  }
  .play-icon {
    width: 1.5rem;
  }
  .song-title {
    font-size: 1.25rem;
  }
  .round.left-1,
  .round.right-1 {
    .cell {
      &::after {
        height: calc(100% + 3rem);
      }
    }
  }

  .round.left-2,
  .round.right-2 {
    .cell {
      &::after {
        height: calc(120% + 6rem);
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .song-title {
    font-size: 1.075rem;
  }
}

@media screen and (max-width: 500px) {
  .song-title {
    font-size: 1.075rem;
  }
}

@media screen and (max-width: 360px) {
  .cell {
    min-height: 2rem;
    padding: 0.05rem 0.25rem;
  }
  .song-title {
    font-size: 1rem;
  }
}
