.cell {
  @include flexContainer(row, space-between);
  border: 1px solid black;
  position: relative;
  width: auto;
  transition: padding 0.2s linear;
  white-space: nowrap;
  // overflow: hidden;
  margin: 2% 0;
  background: $greenishColor;
  padding: 0.5rem;
  color: $whitishColor;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  max-width: 175px;
  min-width: 175px;
  min-height: 25px;
  &::before {
    content: "";
    position: absolute;
    background-color: #fff;
    right: 0;
    top: 50%;
    transform: translateX(100%);
    width: 1.5em;
    height: 2px;
  }
  &::after {
    content: "";
    position: absolute;
    background-color: #fff;
    right: -1.5em;
    height: calc(50% + 22px);
    width: 2px;
    top: 50%;
  }
  &:nth-last-of-type(even)::after {
    top: 50%;
  }
  &:nth-last-of-type(odd)::after {
    top: -50%;
  }
  &:hover {
    background: #ff3557;
    cursor: pointer;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
      rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
      rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    color: white;
    transition: all 0.2s ease-out;
  }
  .song-title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    &::before {
      content: "";
      position: absolute;
      background-color: wheat;
      right: calc(100% + 1.5em);
      top: 50%;
      transform: translateX(100%);
      width: 1.5em;
      height: 2px;
    }
  }
}
.cell-right::after, .cell-right::before {
  right: calc(100% + 1.5em);
}
.final-cell::after, .winner-cell::before, .right-final-cell::before {
  content: none;
}


.cell_empty {
  background-color: $whitishColor;
  color: $backgroundColor;
}

.cell_loser {
  box-shadow: none;
}

.cell_head {
  box-shadow: #99215f 0px 20px 30px -10px;
}

.final-cell {
  margin: 8% 2%;
}
.play-button {
  display: flex;
  background: none;
  padding: 0;
  margin: 0;
  color: green;
}
.play-icon {
  width: 25px;
}
.play-icon_playing {
  color: wheat;
  filter: drop-shadow(0 4px 4px rgba(232, 24, 24, 0.15))
    drop-shadow(0 8px 8px rgba(203, 244, 53, 0.74));
}
.play-icon_standby {
  color: #d2f4be;
  filter: drop-shadow(0 4px 4px rgba(65, 157, 71, 0.08))
    drop-shadow(0 8px 8px rgba(207, 238, 93, 0.49));
}
