.dashboard-container {
  @include flexContainer(row, center);
  .button-dashboard {
    @include flexContainer(row, center);
    @include hoverable();
    width: 3rem;
    height: 3rem;
    background-color: $greenishColor;
    margin: 0 1em;
    &:hover {
      background-color: $reddishColor;
      transition: all 0.2s ease-out;
    }
    &:disabled {
      background-color: $grayishColor;
      cursor: default;
    }
    .dashboard-icon {
      width: 25px;
      height: 25px;
    }
  }
}

.button-retry_animated {
  .dashboard-icon {
    animation: retryButtonSpinner 1.2s linear infinite;
  }
}

@keyframes retryButtonSpinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1470px) {
  .dashboard-container {
    .button-dashboard {
      margin: 0 0.5rem;
    }
  }
}

@media screen and (max-width: 1300px) {
  .dashboard-container {
    .button-dashboard {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

@media screen and (max-width: 740px) {
  .dashboard-container {
    .button-dashboard {
      width: 2rem;
      height: 2rem;
      margin: 0.125rem;
    }
  }
}
