.description-container {
  margin-bottom: 3%;
}
hr.description-line {
  border-color: $reddishColor;
}

@media screen and (max-width: 2560px) {
  .description-container {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .description-container {
    margin-bottom: 2%;
  }
  .description-text {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .description-text {
    font-size: 1.25rem;
  }
}
