.error-wrapper {
  @include flexContainer(row, center);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $backgroundColor;
  opacity: 0.9;
}
.error-message {
  color: $whitishColor;
  font-size: 2rem;
}
