.intro-header {
  @include flexContainer(row, space-around);
  height: 4rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 2rem auto;
}
.intro-container {
  @include flexContainer(row, flex-start);
  height: 100%;
}
.intro-title {
  @include hoverable();
  font-size: 3rem;
  margin-left: 1rem;
  background-color: $greenishColor;
  color: $whitishColor;
  padding: 0 1rem;
  &:hover {
    background-color: $reddishColor;
    transition: all 0.2s ease-out;
  }
  transition: all 0.3s ease-out;
}

.intro-line {
  width: 0;
  height: 0.3125rem;
  color: $whitishColor;
  background: $whitishColor;
}

.column-space-between {
  @include flexContainer(column, space-between);
  height: 100%;
}
.horizontal-line {
  width: 8rem;
  height: 0.3125rem;
  background: $whitishColor;
}

.vertical-line {
  height: 50%;
  width: 0.3125rem;
  background: $whitishColor;
}

@media screen and (max-width: 1300px) {
  .intro-header {
    height: 3rem;
  }
  .intro-title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .intro-header {
    margin: 0.5rem auto;
    height: 3rem;
  }
  .intro-title {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 640px) {
  .intro-header {
    height: 3rem;
  }
  .intro-title {
    font-size: 2.25rem;
  }
  .horizontal-line {
    width: 6rem;
    height: 0.25rem;
  }
  .vertical-line {
    width: 0.25rem;
  }
  .intro-line {
    width: 5rem;
    height: 0.25rem;
  }
}

@media only screen and (max-width: 500px) {
  .intro-title {
    font-size: 2rem;
  }
  .intro-header {
    height: 2rem;
  }
  .horizontal-line {
    height: 0.2rem;
  }
  .vertical-line {
    width: 0.2rem;
  }
  .intro-line {
    height: 0.2rem;
  }
}

@media only screen and (max-width: 400px) {
  .intro-title {
    font-size: 1.75rem;
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width: 360px) {
  .intro-title {
    font-size: 1.5rem;
  }
}

@media screen and (orientation: landscape) and (max-height: 430px) {
  .intro-title {
    font-size: 1.75rem;
  }
  .intro-header {
    height: 2rem;
  }
  .horizontal-line {
    height: 0.2rem;
  }
  .vertical-line {
    width: 0.2rem;
  }
  .intro-line {
    height: 0.2rem;
  }
}
