.intro-container {
  @include flexContainer(row, flex-start);
  //   width: 100%;
  height: 100%;
}
.intro-title {
  @include hoverable();
  font-size: 3rem;
  margin-left: 1rem;
  background-color: $greenishColor;
  color: $whitishColor;
  padding: 0 0.5rem;
  &:hover {
    background-color: $reddishColor;
    transition: all 0.2s ease-out;
  }
}

.intro-line {
  width: 0;
  height: 5px;
  color: $whitishColor;
  background: $whitishColor;
}

.column-space-between {
  @include flexContainer(column, space-between);
  height: 100%;
}
.horizontal-line {
  width: 150px;
  height: 5px;
  background: $whitishColor;
}

.vertical-line {
  height: 50%;
  width: 5px;
  background: $whitishColor;
}
