.square-buttons-container {
  @include flexContainer(row, space-evenly);
  width: 60%;
  margin-bottom: 2.5rem;
}

.square-button {
  @include flexContainer(column, center);
  height: 100%;
  max-width: 20rem;
  flex: 1;
  margin: 0 0.5rem;
  white-space: normal;
  font-size: 2.5rem;
  box-shadow: rgba(72, 242, 57, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: white;
  transition: 0.5s transform cubic-bezier(0.68, -0.55, 0.265, 1.55),
    0.3s box-shadow ease-out, 0.3s font-size ease-in-out;
  &:hover {
    box-shadow: rgba(206, 66, 100, 0.5) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
}
.square-button.active {
  transform: translateY(10%);
}
.square-button-artist {
  background-color: #938b1e;
}
.square-button-charts {
  background-color: #2732db;
}
.square-button-secret {
  background-color: #db298e;
}

.form__group {
  @include flexContainer(column, center);
  position: relative;
  padding: 1rem 0 0;
  margin-top: 0.8rem;
  width: 30%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $greenishColor;
  outline: 0;
  font-size: 2rem;
  color: #fff;
  padding: 0.5rem 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.5rem;
  cursor: text;
  top: 1.5rem;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-color: $reddishColor;
  border-width: 3px;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $reddishColor;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.options {
  @include flexContainer(column, center);
  width: 100%;
  // display: none;
  visibility: hidden;
}

.bracket_max_size_container {
  @include flexContainer(row, center);
  margin-top: 2rem;
  position: relative;
}
.bracket_max_size_option {
  @include bluishShadow();
  width: 3.5rem;
  height: 3.5rem;
  background: $greenishColor;
  margin: 1rem;
  text-align: center;
  line-height: 1.5rem;
  border: 1px solid $whitishColor;
  font-size: 1.5rem;
  &:hover {
    background-color: $reddishColor;
    transition: all 0.2s ease-out;
  }
}
.bracket_max_size_option_active {
  background-color: $reddishColor;
}

.generate-button {
  @include bluishShadow();
  background-color: $greenishColor;
  padding: 1rem;
  margin: 1rem;
  width: 50%;
  font-size: 1.5rem;
  font-weight: 500;
  &:hover {
    background-color: $reddishColor;
    transition: all 0.2s ease-out;
  }
  &:disabled {
    box-shadow: none;
    background-color: $grayishColor;
    cursor: not-allowed;
  }
  transition: all 0.3s ease-in-out;
}

.input-container {
  width: 100%;
  display: none;
}

.max-size-tooltip {
  &:hover {
    cursor: help;
  }
  position: absolute;
  right: -2rem;
  opacity: 0.8;
  width: 2rem;
  height: 2rem;
}

.max-size-tooltip-icon {
  width: 2rem;
  height: 2rem;
  color: $whitishColor;
}

@media screen and (max-width: 1366px) {
  .square-button {
    font-size: 2.25rem;
  }
  .generate-button {
    width: 60%;
  }
}

@media screen and (max-width: 1280px) {
  .square-button {
    font-size: 2rem;
  }
  .generate-button {
    width: 75%;
  }
}

@media screen and (max-width: 1152px) {
  .square-button {
    font-size: 1.75rem;
  }
  .generate-button {
    width: 80%;
  }
}

@media only screen and (max-width: 960px) {
  .square-buttons-container {
    width: 75%;
  }
  .bracket_max_size_option {
    width: 3rem;
    height: 3rem;
    font-size: 1.35rem;
  }
  .form__group {
    width: 40%;
  }
}

@media only screen and (max-width: 769px) {
  .square-buttons-container {
    width: 90%;
  }
}

@media only screen and (max-width: 640px) {
  .square-button {
    font-size: 1.5rem;
  }
  .square-buttons-container {
    margin-bottom: 1.5rem;
  }
  .bracket_max_size_container {
    margin-top: 1rem;
  }
  .form__group {
    width: 50%;
    margin-top: 0.5rem;
    padding: 0.5rem 0 0;
  }
  .generate-button {
    font-size: 1.25rem;
    padding: 0.75rem;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1rem;
  }
  .form__field {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 500px) {
  .square-button {
    font-size: 1.25rem;
  }
  .bracket_max_size_option {
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .square-buttons-container {
    width: 100%;
  }
  .square-button {
    margin: 0 0.15rem;
  }
}

@media screen and (max-height: 760px) {
  .square-buttons-container {
    margin-bottom: 1rem;
  }
  .bracket_max_size_option {
    width: 3rem;
    height: 3rem;
  }
  .generate-button {
    padding: 0.75rem;
    font-size: 1.25rem;
  }
}

@media screen and (orientation: landscape) and (max-height: 640px) {
  .bracket_max_size_container {
    margin-top: 0.25rem;
  }
  .bracket_max_size_option {
    margin: 0.25rem 1rem;
  }
  .form__group {
    margin-top: 0.25rem;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.25rem;
  }
  .form__field {
    font-size: 1.5rem;
  }
  .optional {
    display: none;
  }
}

@media screen and (orientation: landscape) and (max-height: 430px) {
  .generate-button {
    margin: 0.5rem;
    padding: 0.5rem;
  }
  .bracket_max_size_option {
    width: 2.5rem;
    height: 2.5rem;
  }
  .square-button {
    font-size: 1.5rem;
  }
}
