.square-buttons-container {
  @include flexContainer(row, space-evenly);
  width: 50%;
  max-height: 250px;
  height: inherit;
}

.square-button {
  @include flexContainer(column, flex-start);
  max-width: 250px;
  max-height: 250px;
  flex: 1 0 auto;
  height: 100%;
  margin: 0;
  white-space: normal;
  font-size: 36px;
  min-width: 100px;
  min-height: 100px;
  box-shadow: rgba(72, 242, 57, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: white;
  transition: 0.5s transform cubic-bezier(0.68, -0.55, 0.265, 1.55),
    0.3s box-shadow ease-out;
  &:hover {
    box-shadow: rgba(206, 66, 100, 0.5) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
}
.square-button.active {
  transform: translateY(10%);
}
.square-button-artist {
  background-color: #938b1e;
}
.square-button-best {
  background-color: #2732db;
}

.form__group {
  @include flexContainer(column, center);
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  max-width: 500px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $greenishColor;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  // border-width: 3px;
  // border-image: linear-gradient(to right, #11998e, #38ef7d);
  // border-image-slice: 1;
  border-color: $reddishColor;
  border-width: 3px;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $reddishColor;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.options {
  @include flexContainer(column, center);
  width: 100%;
  // display: none;
  visibility: hidden;
}

.bracket_max_size_container {
  @include flexContainer(row, center);
  margin-top: 2rem;
}
.bracket_max_size_option {
  /* margin: 5%; */
  width: 50px;
  height: 50px;
  background: $greenishColor;
  margin: 1rem;
  /* display: flex; */
  text-align: center;
  line-height: 1.5rem;
  border: 1px solid $whitishColor;
  font-size: 1.5rem;
  &:hover {
    background-color: $reddishColor;
    transition: all 0.2s ease-out;
  }
}
.bracket_max_size_option_active {
  background-color: $reddishColor;
}

.generate-button {
  background-color: $greenishColor;
  padding: 1rem;
  margin: 1rem;
  width: 50%;
  font-size: 1.5rem;
  &:hover {
    background-color: $reddishColor;
    transition: all 0.2s ease-out;
  }
  &:disabled {
    background-color: $grayishColor;
    cursor: not-allowed;
  }
}

.input-container {
  width: 100%;
  display: none;
}
