@font-face {
  font-family: "nowayregular";
  src: url("fonts/Noway-Regular-webfont/noway-regular-webfont.eot");
  src: url("fonts/Noway-Regular-webfont/noway-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/Noway-Regular-webfont/noway-regular-webfont.woff2")
      format("woff2"),
    url("fonts/Noway-Regular-webfont/noway-regular-webfont.woff") format("woff"),
    url("fonts/Noway-Regular-webfont/noway-regular-webfont.ttf")
      format("truetype"),
    url("fonts/Noway-Regular-webfont/noway-regular-webfont.svg#nowayregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

$greenishColor: #26624c;
$reddishColor: #ce4264;
$backgroundColor: #1f1f1f;
$whitishColor: #f5f5f5;
$grayishColor: #616262;

$lastfmColor: #d51007;
$spotifyColor: #1db954;
$battleColor: #221f1f;
$secretColor: #db298e;
$chartsColor: #2732db;
$artistColor: #938b1e;

$personalColorAlt: #4cbf3b;
$personalColor: #b62c14;

@mixin flexContainer($direction, $just, $align: center) {
  display: flex;
  justify-content: $just;
  align-items: $align;
  flex-direction: $direction;
}

@mixin hoverable() {
  &:hover {
    cursor: pointer;
  }
}

@mixin innerBoxShadow() {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

@mixin bluishShadow() {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
