@import "./variables";
@import "./bracket";
@import "./intro";
@import "./options";
@import "./cell";
@import "./description";
@import "./dashboard";
@import "./winnerFX";
@import "./modal";
@import "./share";
@import "./tooltip";
@import "./screenshot";
@import "./spinner";
@import "./errors";
html,
body,
.wrapper,
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $backgroundColor;
  color: $whitishColor;
  font-family: "nowayregular", "Roboto Condensed", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  margin: 0;
  display: flex;
}

.container {
  @include flexContainer(column, center);
  margin: 0;
  overflow: hidden;
  height: calc(100% - 6rem);
}

button {
  &:not([disabled]) {
    @include hoverable();
  }
  border: none;
  color: $whitishColor;
}

@media screen and (max-width: 740px) {
  .container {
    height: calc(100% - 3rem);
  }
}
