@import "./variables";
@import "./bracket";
@import "./intro";
@import "./options";
@import "./cell";
@import "./description";
html,
body,
.wrapper,
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $backgroundColor;
  color: $whitishColor;
  font-family: "nowayregular", "Roboto Condensed", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  margin: 0;
  display: flex;
}
header {
  @include flexContainer(row, space-around);
  height: 60px;
  width: 100%;
  min-height: 6vh;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 2rem 0;
}

.container {
  @include flexContainer(column, center);
  margin: 0;
  overflow: hidden;
  height: calc(100% - 124px);
}

button {
  @include hoverable();
  border: none;
  color: $whitishColor;
}
