{% extends "layout.html" %} {% block content %}
<div class="wrapper">
  <header class="intro-header"></header>
  <div class="container">
    <div class="square-buttons-container">
      <button
        data-bracket-type="artist"
        class="square-button square-button-artist"
      >
        <p>ARTIST</p>
        <p>BOWIE</p>
        <p>ARTIST</p>
        <p>ARTIST</p>
        <p>ADELE</p>
        <p>ARTIST</p>
      </button>
      <button
        data-bracket-type="charts"
        class="square-button square-button-best"
      >
        <p>CHARTS</p>
        <p>TOP</p>
        <p>CHARTS</p>
        <p>BEST</p>
        <p>PITCHFORK</p>
        <p>RS500</p>
      </button>
      <button
        data-bracket-type="secret"
        class="square-button square-button-secret"
      >
        <p>SECRET</p>
        <p>WILD CARD</p>
        <p>???</p>
        <p>SECRET</p>
        <p>WAIT, WHAT?</p>
        <p>SECRET</p>
      </button>
    </div>
    <div class="options">
      <div class="bracket_max_size_container" wfd-id="18">
        <button class="bracket_max_size_option" data-max-size="4">4</button>
        <button class="bracket_max_size_option" data-max-size="8">8</button>
        <button
          class="bracket_max_size_option bracket_max_size_option_active"
          data-max-size="16"
        >
          16
        </button>
        <button class="bracket_max_size_option" data-max-size="32">32</button>
      </div>
      <form
        class="form__group field"
        action=""
        onsubmit="return false;"
        enctype="multipart/form-data"
      >
        <div class="input-container">
          <input
            type="text"
            class="form__field"
            placeholder="artist name"
            maxlength="99"
            id="name"
          />
          <label for="name" class="form__label">ARTIST</label>
        </div>
        <button class="generate-button" type="submit">GENERATE</button>
      </form>
    </div>
  </div>
</div>
<script
  type="module"
  src="{{ url_for('static', filename='js/main.bundle.js') }}"
></script>
{% endblock content %}
