<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    {% if title %}
    <title>Madness Bracket - {{ title }}</title>
    {% else %}
    <title>Madness Bracket</title>
    {% endif %}
    <link
      href="{{ url_for('static', filename='css/normalize.css') }}"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/tippy.js/dist/tippy.css" />
    <link
      href="{{ url_for('static', filename='css/mainjke.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
